<!DOCTYPE html>
<html>
  <head>
    <title>AnzaiDiary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main-layout" >
  	<div>
  		<%= link_to image_tag('MyBlog.png',class: 'blog-image'), articles_path %>
  	</div>

    <% if user_signed_in? %>
  		Logged in as <%= current_user.email %>
  		<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  		<%= link_to "プロフィール変更", edit_user_registration_path %>
    <% else %>
    	<div class="login-button">
  			<%= link_to new_user_session_path do %>
  				ログイン<i class="fa fa-sign-in" aria-hidden="true"></i>
  			<% end %>
		  </div>
    <% end %>

    <%= yield %>

    <footer>
      <p>------ AnzaiDiary ------</p>
    </footer>
  </body>
</html>
